#lessonSidebar {
  width: 333px;
  min-width: 333px;
}

.input-sider {
    height: 100vh;
    overflow: scroll;
}
.expanded-form-dialog {
    background-color: #F8F8F8;
}

.delete-dialog {
    width: 400px;
}

.large-expanded-dialog {
    width: 66%;
}
.small-expanded-dialog {
    width: 33%;
}