.ql-container {
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    background: #fefcfc;
    overflow: auto;
}

.quill {
    border: 1px solid #7E7E7E;
    border-radius: 8px;

    .ql-toolbar.ql-snow+.ql-container.ql-snow {
        max-height: 100%;
        overflow: auto;
    }
}

.ql-bubble .ql-editor {
    border: 1px solid #ccc;
    border-radius: 0.5em;
}

.ql-editor {
    min-height: 18em;
    font-size: 18px;
}

.themeSwitcher {
    margin-top: 0.5em;
    font-size: small;
}

.ql-toolbar {
    z-index: 10000;
}