.border-left {
    border-left: 1px solid #CFCFCF;
}

.help-button {
    position: absolute;
    right: 10%;
    bottom: 20%;
    height: 40px;

}

.large-indicator {
    width: 120px;
    height: 48px;
}

.medium-indicator {
    width: 100px;
    height: 40px;
}