.course-col {
  width: 14.5%;
}
.lesson-col {
  width: 28%;
}

.detail-col {
  width: 13.5%;
}
.time-col {
  width: 13.5%;
}

.avatar-filler {
    background-color: #d9d9d9;
}
.delete-dialog {
  width: 400px;
}