@keyframes backgroundColor {
    from {background-color: white}
    to {background-color: #CFCFCF}
}

.w-200 {
    width: 200px;
}
.h-46 {
    height: 46px;
}

.changeColor {
    transition: 0.01s;
    &:hover {
        background-color: #CFCFCF;
    }
}

.default-width {
    width: 380px !important;
}
