#handler {
    z-index: 2;
    transition: all 0.4s;
    right: 15%;
}

// .full-screen-component {
//     width: 100%;
//     height: 100%;
//     .student-slides {
//         width: 100%;
//         height: 100%;
//     }
// }

.icon-component {
    
}
